{% load bootstrap3 %}
{# Load CSS and JavaScript #}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">

        <title>PIP</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    
        <!-- Favicon -->
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />




    </head>

    <body>



        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'index' %}">PIP</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id= "navbarNavAltMarkup">
                    <div class="navbar-nav">
                        {% if request.user.is_authenticated %}
                    
                                <a class="nav-link" href="{% url 'articles:list' %}">Articles</a>
                    
                    
                                <a class="nav-link" href="#">Latest</a>
                
                    
                               <a class="nav-link" href="#">Contact</a>
                                <a class="nav-link mr-auto-right" href="#"  >{{ request.user.username}} </a>
                               <a class="nav-link mr-auto-right" href="{% url 'accounts:log_out' %}">Log Out</a>
                  
                        {% else %}
                            <a class="nav-link" href="{% url 'articles:list' %}">Articles</a>        
                            
                            <a class="nav-link" href="#">Latest</a>        
                            
                            <a class="nav-link" href="#">Contact</a>        
                            
                            <a class="nav-link" href="{% url 'accounts:log_in' %}">Log in</a>
                            
                            <a class="nav-link" href="{% url 'accounts:register' %}">Create an account</a>
                                
                        {% endif %}

                    </div>
                </div>
        </nav>

<div class="container-fluid mt-3">

    {% bootstrap_messages %}

    {% block content %}
        No content.
    {% endblock %}

</div>



</body>
</html>
