
{% block head %} 
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>

{% endblock head %}

{% block map_scripts %}

  <!--MAP script-->

  <div style="width: 640px; height: 480px" id="mapContainer"></div>
  <script type="text/javascript" charset="utf-8">

function addDraggableMarker(map, behavior)  {
  
  var marker = new H.map.Marker({lat:20.5937, lng:78.9629 }, {
    //marking object as volatile for dragging
    volatility: true
    
  });
  //ensuring marker is able to receive drag events
  map.addObject(marker);
  marker.draggable = true;
  

  //make underlying map undraggable when marker is dragged

  map.addEventListener('dragstart', function(evnt) {
    var target = evnt.target;
    if(target instanceof H.map.Marker)  {
      behavior.disable();
    }
  }, false);

  //re-enable draggability of underlying map ehen marker stops moving
  map.addEventListener("dragend", function(evnt) {
    var target = evnt.target;
    if (target instanceof H.map.Marker) {
      behavior.enable();
    } 
  }, false);

  //Listen to drag event and move the marker as required
  map.addEventListener('drag', function(evnt)  {
    var target = evnt.target,
      pointer = evnt.currentPointer;
    if (target instanceof H.map.Marker) {
      target.setGeometry(map.screenToGeo(pointer.viewportX, pointer.viewportY))
    }
  }, false);


  var lat = marker.getPosition().lat;
  var lng = marker.getPosition().lng;
  
}
/*
*/
    // Initialize the platform object:
    var platform = new H.service.Platform({
    'apikey': 'LIOSKTN4bf_JCXxvSpldWYd4DlWjLs8RqgRIGoTY0wY'
    });
    var pixelRatio = window.devicePixelRatio || 1;
    var defaultLayers = platform.createDefaultLayers({
      tileSize: pixelRatio === 1 ? 256 : 512,
      ppi: pixelRatio === 1 ? undefined : 320
    });


    // Instantiate (and display) a map object:
    var map = new H.Map(
    document.getElementById('mapContainer'),
    defaultLayers.vector.normal.map,
    {
      zoom: 4.3,
      center: { lng: 78.9629, lat: 20.5937 }
    });
    

    var bubble = new H.ui.InfoBubble({ lng: 78.9629, lat: 20.5937 }, {
      content: '<b>Hello {{ user.username }}! Drop me on crimeScene</b>'
    });

    //adding a resize listerner to make map occupy entire container
    window.addEventListener('resize', () => map.getViewPort().resize());

    //making the map interactive 
    var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
   
    //creating the default UI
    var ui = H.ui.UI.createDefault(map, defaultLayers);
    ui.addBubble(bubble);
    var mapSettings = ui.getControl('mapsettings');
    var zoom = ui.getControl('zoom');
    var scalebar = ui.getControl('scalebar');
    //pacing the map controls 
    mapSettings.setAlignment('bottom-right');
    zoom.setAlignment('top-right');
    scalebar.setAlignment('top-left');

    //Add the click event Listener
    addDraggableMarker(map, behavior);
    
    
  </script>

{% endblock map_scripts %}